body {
  text-align: center;
  min-width: 320px;
  display: block;
  font-size: 18px;
  line-height: 1.4rem;
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  margin-bottom: .5em;
}

*:focus,
a:focus{
  outline: none;
}

.-wrapper {
  min-width: 320px;
  text-align: left;
  margin-top: 1rem;
}

section {
  margin-top:2rem;
  font-size:90%;
  padding:0 1rem;
}

h2{
  margin-top:2rem;
}

header {
  display:flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 1em;
  background-color:darkslateblue;
  color:black;
  font-size: 80%;
}
header h1 {
  flex:1;
  padding:0;
  margin:0;
  display: inline;
}
header h1>a:after {content: "";}

code {
  font-size: 1em;
  color:darkmagenta;
  padding: 0.1rem;
}

figcaption { text-align: center}
figure {
  background-color: seashell;
  padding: 5px;
  margin:2rem 0;
}

blockquote:before {
  color: var(--color-bg);
  content: "💡";
  font-size: 1em;
  line-height: 1rem;
  margin-right: .2em;
  margin-top: 0.2em;
  float: left;
}

.desktop {
  display: none;
}

.mobile{
  display:block
}

/* 
Docs 
*/
.-docs {
  padding: 0;
  padding-top:1rem;
  display: flex;
}

.-docs aside {
  background-color: lightyellow;
  padding:1rem;
  max-width:90vw;
  height: 100vh;
  overflow: scroll;
  top:0;
  left:0;
  position: fixed;
  transform: translateX(-100vw);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
}

.-docs aside.opened {
  transform: translateX(0);
}

.breadcrumb{
  padding:0.5rem 0 0 0.3rem;
  margin:0
}

.docs .breadcrumb {
  padding:0.5rem 0 0 1rem;
  margin:0
}

.mobile.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: fixed;
  width: 1.8rem;
  height:2rem;
  top:16.5vh;
  left:0;
  font-size: 0.8em;
  background-color: wheat;
  transform: translateX(0);
}

.-docs aside dl {
  margin: 1rem; 
}
.-docs aside dd {
  margin-inline-start: 0;
  font-weight: lighter;
  font-size: 90%;
}

.-docs aside dt{
  font-weight: bolder;
}
.-docs aside dt a{
color:black;
}

.-docs aside dt:not(:first-child){
  margin-top:1rem;
}
.-docs section {
  flex:1;
  vertical-align: top;
  margin: 0;
  border: 0;
  padding: 0;

}

.-docs section h1,
.-docs section h2,
.-docs section h3,
.-docs section h4,
.-docs section h5 { margin-top:0}

.-docs .-schemas {
  font-size: 0.85rem;
  line-height: 0;
}

h3 {
  font-size: 1.5rem;
}
h3 a {
  color:navy;
}

h4 {
  font-size: 1.35rem;
}
h4 a {
  color:darkred;
}



/*Examples*/

body.examples small{margin:0;padding:0;}
body.examples small p {display:inline;}
body.examples small strong {display:block;margin:0 0 0.5rem 0}

nav.continue {
  background-color: white;
  display:inline-block;
  width: 100%;
  padding:0.5em;
  margin:1em 0;border-radius: 0.5em;
  text-align: center;
}
nav.continue a.button {
  display: inline-block;
  font-size: 120%;
}


/*large screen*/
@media (min-width: 850px) {
  .-wrapper {
    width: 100%;
  }

  .mobile,
  .mobile.filters {
    display:none
  }

  .desktop {
    display: block;
  }

  main {
    padding: 0 2rem;
  }
  .-example-wrapper {
    margin: 2rem
  }
  code {
    font-size: 1em;
    color:darkmagenta;
    padding: 0.25rem;
  }
  header {
    font-size: 100%;
    flex-direction: column;
    height: auto;
  }
  .-docs section {
    padding-left:0;
  }
  .-docs aside {
    flex:1;
    margin: 0;
    margin-right: 1rem;
    background-color: lightyellow;
    padding:0;
    max-width: max(150px,10%);
    position: unset;
    transform: none;
    height: auto;
    overflow: auto;
  }
}
